 .categoryContainer {
    width: 100%;
    border-radius: 15px;
    background: #a4a4bf;
    padding: 3%;
    margin: 1% 0;
    box-shadow: 10px 10px 10px black;

}

.showCatContainer {
    width: 100%;
}

.header {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: top;

}

#catName {
    width: 100%;
    font-size: 2em;
    margin: 0 0 2% 0;
}

#xImage{
    width: 20px;
    height: 20px;
}

.toggleTitle {
    width: 100%;
    background: none;
    font-size: 2em;
}

.toggleTitle:focus {
    background: none;

}
.toggleTitle:active {
    background: none;
}

#closedCatName {
    color: #16235a;
    text-decoration: underline #16235a;
    letter-spacing: 3px;
    display: flex;
    font-family: 'Source Code Pro', monospace;
    justify-content: left;
    background: none;
    font-size: 2em;
    width: 100%;
    display: flex;
    justify-content: left;
}