.eventPost {
    border-bottom: 2px solid #eee;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.postContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttonsDiv {
    margin: 10px;
}

.button {
    margin:  10px 10px 0 10px;
    
}