.banner {
    color: #16235a;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 15px;
    background: #a4a4bf;
    box-shadow: 10px 10px 10px black;


}

#imageDiv {
    margin: 1%;

}

#logo {
    width: 100px;
    border-radius: 15px;
}



