* {
    /* box-sizing: border-box; */
    /* height: 100vh; */
    /* width: 100vw; */
}

button {
    border-radius: 15px;
    border: none;
    padding: 10px;
}

button:hover, img:hover {
    cursor: pointer;
}

